.star-sky {
  position: fixed;
  width: 5px;
  height: 5px;
  background: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  overflow: visible;
}
@keyframes flash {
  0% {
    opacity: 0.2;
    transform: scale(0.2);
  }
  50% {
    opacity: 0.6;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.star-flash {
  animation: flash 1s linear infinite alternate-reverse;
}